[submodule "pack/mydev/start/vimnc"]
	path = pack/mydev/start/vimnc
	url = https://github.com/VimWei/vimnc
[submodule "pack/mydev/opt/vim9-stargate"]
	path = pack/mydev/opt/vim9-stargate
	url = https://github.com/VimWei/vim9-stargate
[submodule "pack/mydev/opt/vim-markdown-extras"]
	path = pack/mydev/opt/vim-markdown-extras
	url = https://github.com/VimWei/vim-markdown-extras
[submodule "pack/mydev/opt/vim-markdown-plus"]
	path = pack/mydev/opt/vim-markdown-plus
	url = https://github.com/VimWei/vim-markdown-plus
