snippet ts "Time Stamp"
`!v strftime("%Y-%m-%d %A %H:%M:%S")`
endsnippet
snippet ms "Meeting Schedule"
`!v strftime("%Y%m%d%a%H:%M")`
endsnippet
snippet mc "MealCycle"
周膳计划 `!v strftime("%Y-%m-%d")`
endsnippet
snippet /^(\s*\*\s\[\s\]\s)?todo$/ "GTD todo" r
* [ ] `!v strftime("%Y-%m-%d %A ")`
endsnippet
